/* CARD */
.app-card {
  text-align: left;
}

/* SEÇÕES DA POLÍTICA */
.privacy-section {
  margin-top: 1rem;
}

.privacy-section h2 {
  font-size: 0.95rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.privacy-section p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin-bottom: 0.4rem;
}

/* TEXTO FINAL */
.privacy-update {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  opacity: 0.8;
}

/* BOTÃO VOLTAR */
.back-home-button {
  margin: 3rem auto 0;
  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  padding: 0.6rem 0.9rem;
  background: var(--card-bg);
  color: var(--text-dark);
  text-decoration: none;
  border-radius: var(--radius-md);

  font-size: 0.75rem;
  font-weight: 500;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.back-home-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.back-home-icon {
  width: 18px;
  height: 18px;
}
.privacy-section ul {
  padding-left: 1.2rem;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}
